version: '3.8'

services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: meu_banco
      MYSQL_ROOT_PASSWORD: SenhaSegura123
    networks:
      - backend

  app:
    build: .
    ports:
      - "8080:80"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: SenhaSegura123
      DB_NAME: meu_banco
    depends_on:
      - db
    networks:
      - backend

networks:
  backend:
    driver: bridge